.footer{
    background-color: $dark-clr;
    color: $white-clr;
}
.footer__container{
    row-gap: 1.5reml;
    margin-bottom: $mb-4;
}
.footer__title{
    margin-bottom: $mb-1;
}
.footer__deal{
    margin-bottom: $mb-2;
}
.footer__store{
    width: 100px;
}
.footer__link, .footer__social{
    color: $dark-clr-light;
}
.footer__link:hover{
    text-decoration: underline;
}
.footer__social{
    font-size: 1.3rem;
    margin-right: $mb-1;
    transition: .3s linear;

    &:hover{
        color: $gray-clr;
    }
}
.footer__copy{
    border-top: 1px solid $dark-clr-light;
    padding-top: 3rem;
    text-align: center;
    color: $dark-clr-light;
    font-size: $small-font-size;
}