.new__container{
    row-gap: 2rem;
}
.new__box{
    position: relative;
    display: flex;
    justify-content: center;
    background: $gray-clr;
    overflow: hidden;

    &:hover .new__link{
        bottom: 0;
    }
}
.new__link{
    position: absolute;
    bottom: -100%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(229,89,71, .2);
    transition: .3s ease-in-out;
}